[Desktop Entry]
Encoding=UTF-8
Name=Poor Man's Radio Player
Name[am]=የ ሬዲዮ ማጫወቻ
Name[ca]=Reproductor de ràdio del pobre
Name[de]=Poor Man's Radio Player
Name[el]=Poor Man's Radio Player
Name[es]=Tocador de Radio Barrato
Name[fr]=Lecteur radio Poor Man
Name[it]=Lettore radio Poor Man's
Name[nl]=Armeluis Radio Speler
Name[pt]=Poor Man's Radio Player
Name[sv]=Poor Man's Radio Player
Comment=Simple Radio Player
Comment[am]=ቀላል የ ሬዲዮ ማጫወቻ
Comment[ca]=Reproductor de Ràdio senzill
Comment[de]=Einfacher Radioplayer
Comment[el]=Απλό Ραδιόφωνο
Comment[es]=Tocador de Radio sencillo
Comment[fr]=Un simple lecteur de radios
Comment[it]=Un semplice lettore delle radio online
Comment[nl]=Eenvoudige Radio Speler
Comment[pt]=Reprodutor de rádio simples e funcional
Comment[sv]=Enkel Radiospelare
Exec=x-terminal-emulator -e pmrp
Icon=library-internet-radio
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
NoDisplay=False
