[Desktop Entry]
Encoding=UTF-8
Name=Sound Card
Name[ca]=
Name[de]=
Name[el]=Sound Card
Name[es]=Tarjeta de Sondido
Name[fr]=Carte son
Name[it]=
Name[ja]=
Name[nl]=Geluidskaart
Name[ro]=
Name[ru]=
Name[sv]=Ljudkort
Comment=Select sound card to use.
Comment[ca]=
Comment[de]=
Comment[el]=Επιλέξτε κάρτα ήχου για χρήση.
Comment[es]=Seleccionar tarjeta de sonido a utilizar
Comment[fr]=Choix de la carte son à utiliser
Comment[it]=
Comment[ja]=
Comment[nl]=Selecteer geluidskaart om te gebruiken.
Comment[ro]=
Comment[ru]=
Comment[sv]=Välj vilket ljudkort som ska användas
Exec=alsa-set-default-card
Icon=audacity.png
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=True
