[Desktop Entry]
Encoding=UTF-8
Name=Sound Card Chooser
Name[el]=Sound Card
Name[es]=Tarjeta de Sondido
Name[fr]=Carte son
Name[nl]=Geluidskaart
Name[sv]=Ljudkort
Comment=Select sound card to use.
Comment[el]=Επιλέξτε κάρτα ήχου για χρήση.
Comment[es]=Seleccionar tarjeta de sonido a utilizar
Comment[fr]=Choix de la carte son à utiliser
Comment[nl]=Selecteer geluidskaart om te gebruiken.
Comment[sv]=Välj vilket ljudkort som ska användas
Exec=alsa-set-default-card
Icon=soundcard.png
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;
NoDisplay=False
