Source: antix-goodies
Section: system
Priority: optional
Maintainer: anticapitalista <antiX@operamail.com>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Homepage: http://antix.mepis.org

Package: antix-goodies
Architecture: amd64
Depends: perl, wodim, yad, pmount
Description: Various useful scripts for antiX.
 Includes:
  * burniso (write an ISO image from cli)
  * fancy-prompts (nine different colorful and interesting prompts)
  * ps_initrd.sh (initrd packing/unpacking tool)
  * zram (script to set up zram)
  * ps_mem.py (RAM usage script)
  * unplugdrive.sh (enables unmounting prior to unplugging removable storage)
  * alsa-set-default-card (helps user set default sound card if more than one is available)
